 <div  class="container">
      <ul class="list-inline">
        {{#linkdata}}
          <li class="list-inline-item">
             <a href="{{{link}}}">{{text}}</a>
          </li>
        {{/linkdata}}
      </ul>
  </div>